[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
transitions = "*"
setuptools = "*"
gmpy2 = "*"
primefac = { git = "git+https://github.com/elliptic-shiho/primefac-fork.git" }
graphviz = "*"
bitstring = "*"
progressbar2 = "*"
tqdm = "*"

[dev-packages]
pytest = "*"
ruff = "*"
yapf = "*"

[requires]
python_version = "3.10"
