[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
transitions = "*"
setuptools = "*"
gmpy2 = {file = "https://download.lfd.uci.edu/pythonlibs/r4tycu3t/gmpy2-2.0.8-cp39-cp39-win_amd64.whl"}
primefac = { editable = true, git = "git://github.com/elliptic-shiho/primefac-fork" }
graphviz = "*"
bitstring = "*"
progressbar2 = "*"
tqdm = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"
